@media only screen and (min-device-width: 800px){

html{
    height: 100%;
}
body{
    background: #0C0D29 0% 0% no-repeat padding-box;
    height: 100%;
}


/* LOGIN PANEL I SIGN UP PANEL */

input{
    border: none;
    /* border-bottom: 1px solid #707070; */
    background-color: rgba(255, 0, 0, 0);

    text-align: left;
    font: Regular 18px/24px Segoe UI;
    letter-spacing: 0;
    color: #707070;
    font-size: 20px;


    /* padding-left: 100px; */
}

input:focus {
    outline: none !important;
}

.grayButton {
    background: #70707087 0% 0% no-repeat padding-box;
    border: 2px solid #70707087;
    opacity: 1;
    border-radius: 20px;

    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: Regular 18px/24px Segoe UI;
    letter-spacing: 0;
    color: #707070;
    font-size: 20px;


    width: 14.5em;
    height: 1.6em;
    }

.button{
  margin: 0 0 100px 0;
}
.grayButton:focus{
    outline:none;
}

.logo{
  margin-left: 65px;
}

.title{
  margin-left: 65px;
}

.logo img{
    margin: 70px 0 0 0;
    padding: 0;
    width: 80%;
    height: auto;
}

.mail {
    border-bottom: 2px solid #707070;
    margin: 0 0 30px 0;
}

.mail img{
    width: 30px;
    height: auto;
    float: left;
}

.mail input{
    margin: 0 0 10px 0;
    padding-left: 35px;
}



.username {
    border-bottom: 2px solid #707070;
    margin: 0 0 25px 0;


}

.taskButton {
    background-color: #4CAF50; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin-left: 50px;
  }

  .taskButtonW {
    background-color: #FFFFFF; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin-left: 50px;
  }


.username img{
    width: 30px;
    height: auto;
    float: left;
    margin: 0 0 10px 0;
}

.username input{
    margin: 0 0 0 0;
    padding-left: 30px;

}

.taskName {
    border-bottom: 2px solid #707070;
    margin: 0 0 30px 0;
    margin-top: 50px;
    width: 80%;
    margin-left: 50px;

}

.taskName img{
    width: 35px;
    height: auto;
    float: left;
    padding: 0 0 10px 0;
}

.taskName input{
    margin: 0 0 0 0;
    padding-left: 30px;

}

.password {
    border-bottom: 2px solid #707070;
}

.password img{
    width: 30px;
    height: auto;
    float: left;

    padding: 0 0 10px 0;
}

.password input{
    margin: 0 0 0px 0;
    padding-left: 35px;

}

.title p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: Regular 40px/53px Segoe UI;
    color: white;
    letter-spacing: 0;
    font-size: 60px;
    margin: 0 65px 100px 0;
}





/* ADD TASK PANEL */





.blueButton{
    background: #2E57B5 0% 0% no-repeat padding-box;
    border: 1px solid #2E57B5;
    opacity: 1;
    border-radius: 25px;
    margin-left: 80px;
    margin-bottom: 150px;

    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: Regular 18px/24px Segoe UI;
    letter-spacing: 0;
    color: white;
    font-size: 24px;

    background: #2E57B5;
    width: 65%;
    height: auto;
}

.blueButton:focus{
    outline:none;
}


.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.saveChangesButton{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


}

.frame{
  /* rgba(7, 7, 12, 0.5) */
  background-color: rgba(105,105,105, 0.15);
  width: 40%;
  height: 70vh;
  border-radius: 30px;

  margin-top: 25px;
  margin-left: 25px;

}

.saveChangesButton p{
    text-align: center;
    font: 12px/14px Arial;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-size: 36px;
}

.topPanel{
    background: #2E57B5 0% 0% no-repeat padding-box;
    border: 1px solid #2E57B5;
    opacity: 1;


    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: Regular 18px/24px Segoe UI;
    letter-spacing: 0;
    color: white;
    font-size: 24px;

    background: #2E57B5;
    width: 100%;
    height: 7em;

}

.topPanel img{
    position: relative;
    right: 400px;
    bottom: 95px;
}


.spaceDiv{
    padding-bottom: 1em;
}

.taskNameInput {
    padding: 10em 0 0 3em;

    border-bottom: 2px solid #707070;
    margin: 0 0 30px 0;


}


.taskNameInput img{
    width: 70px;
    height: auto;
    float: left;
    padding: 0 0 10px 0;
}

.taskNameInput input{
    margin: 0 0 0 0;
    padding-left: 30px;

}


/* HOME */

.wallpaper img{
    width: 100%;
    height: auto;
}

.addIcon img{
    width: 130px;
    height: auto;
}

.flex{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.space{
  padding-bottom: 20px;
  padding-left: 20px;
}
/* .task{
    padding-left: 50px;
    padding-right: 50px;


} */

/* .greenRectangle{
    /* width: 100px;
    height: 100px; */
    /* margin: 0 auto; */



    /* border-radius: 20px;
    background: transparent;
    width: 25%;
    height: 150px;
    border-width: 4px;
    border-style: solid;
    border-color: #2EB53B;
} */ 

/* .greenRectangle p{
    text-align: center;

    float: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: Regular 18px/24px Segoe UI;
    letter-spacing: 0;
    color: white;
    font-size: 20px;
}

.greenRectangle img{
    float: left;
    width: 100px;
    height: auto;
    padding: 12px 30px 0 25px;
}

.whiteRectangle{
    width: 100px;
    height: 100px;
    margin: 0 auto;

    border-radius: 20px;
    background: transparent;
    width: 25%;
    height: 150px;
    border-width: 4px;
    border-style: solid;
    border-color: white;
}

.whiteRectangle p{
    text-align: center;

    float: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: Regular 18px/24px Segoe UI;
    letter-spacing: 0;
    color: white;
    font-size: 20px;

}

.whiteRectangle img{
    float: left;
    width: 100px;
    height: auto;
    padding: 12px 30px 0 25px;

} */

.clock{
  padding-left: 50px;
  padding-bottom: 50px;
}

/* .Clock{

  position: absolute;
  top: 0px;
  left: 25px;


  text-align: left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: Regular 18px/24px Segoe UI;
  letter-spacing: 0;
  color: white;
  font-size: 48px;

} */

/* .Data-panel{
  position: absolute;
  top: -30px;
  right: 25px;


  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: Regular 18px/24px Segoe UI;
  letter-spacing: 0;
  color: white;
  font-size: 36px;
} */

/* .clock-panel{
  position: absolute;
  top: 0px;
  right: 80px;


  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: Regular 18px/24px Segoe UI;
  letter-spacing: 0;
  color: white;
  font-size: 48px;
} */
/* .Data{
  position: absolute;
  top: 50px;
  right: 50px;

  text-align: left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: Regular 18px/24px Segoe UI;
  letter-spacing: 0;
  color: white;
  font-size: 36px;
} */

/* HOME PAGE - WEB */
.admin-panel {
  float: left;
  background-color: #220D4E;
  width: 13%;
  height: 100vh;
}

.clockdate-wrapper {
    background-color: transparent;
    /* padding:25px; */
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-left: 25%;
    margin-top:5%;
}
#clock{
    background-color: transparent;
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
    left:-10px;
}
#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}

.admin-panel a,h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: Regular 18px/24px Segoe UI;
  letter-spacing: 0;
  color: white;
  font-size: 20px;
  text-decoration: none;

  text-align: center;
}

.row{
  display: flex;
}

.main-panel {
  display:flex;
  background-color: #0C0D29;
  width: 50%;
  height: 100vh;

  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-start;
}


.target{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: Regular 18px/24px Segoe UI;
  letter-spacing: 0;
  color: white;
  font-size: 20px;
}

}

.only-mobile{
  display: none;
}

@media only screen and (max-device-width: 799px){ /* smartphone */
  html{
      height: 100%;
  }
  body{
      background: #0C0D29 0% 0% no-repeat padding-box;
      height: 100%;
  }

  .only-web{
    display: none;
  }

  .only-mobile{
    display: inline;
  }


  /* LOGIN PANEL I SIGN UP PANEL */

  input{
      border: none;
      /* border-bottom: 1px solid #707070; */
      background-color: rgba(255, 0, 0, 0);

      text-align: left;
      font: Regular 18px/24px Segoe UI;
      letter-spacing: 0;
      color: #707070;
      font-size: 48px;

      /* padding-left: 100px; */
  }

  input:focus {
      outline: none !important;
  }

  .grayButton {
      background: #70707087 0% 0% no-repeat padding-box;
      border: 1px solid #707070;
      opacity: 1;
      border-radius: 20px;

      text-align: center;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font: Regular 18px/24px Segoe UI;
      letter-spacing: 0;
      color: #707070;
      font-size: 48px;

      width: 14.5em;
      height: 1.6em;
      }

  .grayButton:focus{
      outline:none;
  }

  .logo img{
      margin: 0 0 0 0;
      padding: 0;
      width: 120%;
      height: auto;
  }

  .logo{
    margin-left: 0px;
  }

  .title{
    margin-left: 0px;
  }

  .mail {
      border-bottom: 2px solid #707070;
      margin: 0 0 30px 0;
  }

  .mail img{
      width: 60px;
      height: auto;
      float: left;
  }

  .mail input{
      margin: 0 0 10px 0;
      padding-left: 35px;
  }



  .username {
      border-bottom: 2px solid #707070;
      margin: 0 0 30px 0;

  }

  .username img{
      width: 60px;
      height: auto;
      float: left;
      padding: 0 0 10px 0;
  }

  .username input{
      margin: 0 0 0 0;
      padding-left: 30px;

  }



  .password {
      border-bottom: 2px solid #707070;
  }

  .password img{
      width: 60px;
      height: auto;
      float: left;
  }

  .password input{
      margin: 0 0 10px 0;
      padding-left: 35px;

  }

  .title p{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font: Regular 40px/53px Segoe UI;
      color: white;
      letter-spacing: 0;
      font-size: 100px;
      margin: 0 0 1em 0;
  }





  /* ADD TASK PANEL */





  .blueButton{
      background: #2E57B5 0% 0% no-repeat padding-box;
      border: 1px solid #2E57B5;
      opacity: 1;


      text-align: center;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font: Regular 18px/24px Segoe UI;
      letter-spacing: 0;
      color: white;
      font-size: 48px;

      background: #2E57B5;
      width: 100%;
      height: auto;
  }

  .blueButton:focus{
      outline:none;
  }


  .main{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .saveChangesButton{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;


  }

  .saveChangesButton p{
      text-align: center;
      font: 12px/14px Arial;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 1;
      font-size: 36px;
  }

  .topPanel{
      background: #2E57B5 0% 0% no-repeat padding-box;
      border: 1px solid #2E57B5;
      opacity: 1;


      text-align: center;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font: Regular 18px/24px Segoe UI;
      letter-spacing: 0;
      color: white;
      font-size: 24px;

      background: #2E57B5;
      width: 100%;
      height: 7em;

  }

  .topPanel img{
      position: relative;
      right: 400px;
      bottom: 95px;
  }


  .spaceDiv{
      padding-bottom: 1em;
  }

  .taskNameInput {
      padding: 10em 0 0 3em;

      border-bottom: 2px solid #707070;
      margin: 0 0 30px 0;


  }


  .taskNameInput img{
      width: 70px;
      height: auto;
      float: left;
      padding: 0 0 10px 0;
  }

  .taskNameInput input{
      margin: 0 0 0 0;
      padding-left: 30px;

  }


  /* HOME */

  .wallpaper img{
      width: 100%;
      height: auto;
  }

  .addIcon img{
      width: 130px;
      height: auto;
  }

  .flex{
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

  }

  .greenRectangle{
      /* width: 100px;
      height: 100px; */
      margin: 0 auto;

      border-radius: 50px;
      background: transparent;
      width: 80%;
      height: 130px;
      border-width: 4px;
      border-style: solid;
      border-color: #2EB53B;
  }

  .greenRectangle p{
      text-align: center;

      float: left;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font: Regular 18px/24px Segoe UI;
      letter-spacing: 0;
      color: white;
      font-size: 36px;
  }

  .greenRectangle img{
      float: left;
      width: 100px;
      height: auto;
      padding: 12px 30px 0 25px;
  }

  .whiteRectangle{
      width: 100px;
      height: 100px;
      margin: 0 auto;

      border-radius: 50px;
      background: transparent;
      width: 80%;
      height: 130px;
      border-width: 4px;
      border-style: solid;
      border-color: white;
  }

  .whiteRectangle p{
      text-align: center;

      float: left;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font: Regular 18px/24px Segoe UI;
      letter-spacing: 0;
      color: white;
      font-size: 36px;

  }

  .whiteRectangle img{
      float: left;
      width: 100px;
      height: auto;
      padding: 12px 30px 0 25px;

  }

  /* .Clock{

    position: absolute;
    top: -60px;
    left: 25px;


    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: Regular 18px/24px Segoe UI;
    letter-spacing: 0;
    color: white;
    font-size: 48px;

  }

  .Data{
    position: absolute;
    top: 10px;
    right: 50px;

    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: Regular 18px/24px Segoe UI;
    letter-spacing: 0;
    color: white;
    font-size: 27px;
  } */

  .clockdate-wrapper {
      background-color: transparent;
      /* padding:25px; */
      max-width:350px;
      width:100%;
      text-align:center;
      border-radius:5px;
      margin:0 auto;
      margin-left: 25%;
      margin-top:5%;
  }
  #clock{
      background-color: transparent;
      font-family: sans-serif;
      font-size:60px;
      text-shadow:0px 0px 1px #fff;
      color:#fff;
  }
  #clock span {
      color:#888;
      text-shadow:0px 0px 1px #333;
      font-size:30px;
      position:relative;
      top:-27px;
      left:-10px;
  }
  #date {
      letter-spacing:10px;
      font-size:14px;
      font-family:arial,sans-serif;
      color:#fff;
  }

}





@media screen and (max-width: 600px) { /* web - less or equal wide than 600px */
body {

}
}
